<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareFlie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8E4EC5A1EE156D1001F0B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8E4EC731EE156D2001F0B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8E4EC7E1EE156D2001F0B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
